{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Firefox >= 75",
            "FirefoxAndroid >= 68",
            "Chrome >= 81",
            "ChromeAndroid >= 81"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
