.my-autocomplete-input {
    position: relative;
    transform: translate(0);
    width: 100%;
    z-index: 10;
}

.my-autocomplete-input__dropdown {
    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    width: inherit;
    top: 50px;
    max-height: 240px;
    overflow-y: auto;
    margin: 0;
    list-style: none;
    padding: 0;
}

.my-autocomplete-input__dropdown > li {
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    padding: 0 15px;
    line-height: 48px;
    height: 48px;
    transition: background 0.15s linear;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my-autocomplete-input__item--selected,
.my-autocomplete-input__dropdown > li:hover {
    background-color: rgb(238, 238, 238);
}

.my-autocomplete-input__item--highlight {
    color: rgb(117, 117, 117);
}
