.my-entry-title__title {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    margin: 0 0 6px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.my-entry-title__title:active {
    background-color: transparent;
}

.my-entry-title__subtitle {
    padding-top: 0.3rem;
    font-weight: 400;
    line-height: 1rem;
    margin: 10px 0 5px;
    font-size: 14px;
    letter-spacing: .01em;
}
