<my-icon-button my-type="expand-more"
                ng-click="$ctrl.toggleMore()"
                ng-if="!$ctrl.showMore">
</my-icon-button>

<my-icon-button my-type="expand-less"
                ng-click="$ctrl.toggleMore()"
                ng-if="$ctrl.showMore">
</my-icon-button>

<my-icon-button my-type="check-circle"
                ng-if="$ctrl.myItem.seen"
                ng-click="$ctrl.onCheckClick(false)">
</my-icon-button>

<my-icon-button my-type="check"
                ng-if="!$ctrl.myItem.seen"
                ng-click="$ctrl.onCheckClick(true)">
</my-icon-button>
