<react-component
        name="IconButton"
        props="{type: 'expand-more'}"
        ng-click="$ctrl.toggleMore()"
        ng-if="!$ctrl.showMore">
</react-component>

<react-component
        name="IconButton"
        props="{type: 'expand-less'}"
        ng-click="$ctrl.toggleMore()"
        ng-if="$ctrl.showMore">
</react-component>

<react-component
        name="IconButton"
        props="{type: 'check-circle'}"
        ng-click="$ctrl.onCheckClick(false)"
        ng-if="$ctrl.myItem.seen">
</react-component>

<react-component
        name="IconButton"
        props="{type: 'check'}"
        ng-click="$ctrl.onCheckClick(true)"
        ng-if="!$ctrl.myItem.seen">
</react-component>
