<div class="admin-feed-form">
    <form name="feedForm">
        <react-component name="FeedTitleInput" props="$ctrl.titleProps"></react-component>

        <div class="admin-feed-form__origin">
            <react-component name="FeedUrlInput" props="$ctrl.urlProps"></react-component>

            <a ng-href="{{$ctrl.feed.url}}" target="_blank" rel="noopener noreferrer">
                <react-component name="Icon" props="$ctrl.iconProps"></react-component>
            </a>
        </div>

        <div class="admin-feed-form__buttons">
            <react-component name="Button" props="$ctrl.saveButtonProps"></react-component>
            <react-component name="ConfirmButton" props="$ctrl.deleteButtonProps"></react-component>
        </div>
    </form>

    <h2 class="admin-feed-form__fetch-error-title">Fetch errors</h2>
    <react-component name="FeedFetchErrors" props="$ctrl.feedFetchErrorsProp"></react-component>
</div>
