<my-list-page my-on-search="$ctrl.onSearch(params)"
              my-on-refresh="$ctrl.refresh()">
    <my-list-panel>
        <div class="feed-list__item"
             ng-click="$ctrl.open(feed)"
             ng-repeat="feed in $ctrl.feeds | filter: $ctrl.router.query.q">
            <h3>{{feed.title}}</h3>
            <span>
                <react-component name="Icon"
                                 props="$ctrl.iconProps"
                                 ng-if="feed.hasErrors">
                </react-component>
                <react-component name="TimeAgo"
                                 props="$ctrl.createdAtProp(feed)">
                </react-component>
            </span>
        </div>
    </my-list-panel>
</my-list-page>
