.admin-feed-form {
    padding: 10px;
}

.admin-feed-form__origin {
    display: flex;
    align-items: center;
}

.admin-feed-form__origin > react-component {
    flex-grow: 1;
}

.admin-feed-form__fetch-error-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
    user-select: none;
}

.admin-feed-form__buttons {
    float: right;
}
