<div class="admin-feed-form">
    <form name="feedForm">
        <react-component name="FeedTitleInput" props="$ctrl.titleProps"></react-component>

        <div class="admin-feed-form__origin">
            <react-component name="FeedUrlInput" props="$ctrl.urlProps"></react-component>

            <a ng-href="{{$ctrl.feed.url}}" target="_blank" rel="noopener noreferrer">
                <my-icon my-type="open-in-new"></my-icon>
            </a>
        </div>

        <my-button-group class="admin-feed-form__buttons">
            <my-button
                    my-type="primary"
                    my-on-click="$ctrl.onSave()"
                    my-on-error="$ctrl.onError(error)">Save
            </my-button>
            <my-button
                    my-type="warn"
                    my-confirm="true"
                    my-on-click="$ctrl.onDelete()"
                    my-on-error="$ctrl.onError(error)">Delete
            </my-button>
        </my-button-group>
    </form>

    <h2 class="admin-feed-form__fetch-error-title">Fetch errors</h2>
    <my-feed-fetch-error></my-feed-fetch-error>
</div>
