<form name="subscriptionForm" class="subscription-form" ng-if="$ctrl.subscription">
    <my-input-container>
        <label>Title</label>
        <input name="title"
               ng-model="$ctrl.subscription.title"
               ng-disabled="$ctrl.pendingAction"
               my-backend-validation my-validations="$ctrl.validations">
        <my-validation-message my-form-control="subscriptionForm.title"></my-validation-message>
    </my-input-container>

    <div class="subscription-form__origin">
        <my-input-container>
            <label>Url</label>
            <input disabled
                   ng-model="$ctrl.subscription.origin">
        </my-input-container>
        <a ng-href="{{$ctrl.subscription.origin}}" target="_blank" rel="noopener noreferrer">
            <my-icon my-type="open-in-new"></my-icon>
        </a>
    </div>

    <my-autocomplete-input my-label="'Tag'"
                           my-disabled="$ctrl.pendingAction"
                           my-selected-item="$ctrl.subscription.tag"
                           my-values="$ctrl.tags"
                           my-on-select="$ctrl.onSelectTag(value)">
    </my-autocomplete-input>

    <h2 class="subscription-form__pattern-title">Patterns to ignore</h2>

    <my-subscription-exclusion my-id="$ctrl.subscription.uuid"
                               my-exclusions="$ctrl.exclusions"
                               my-disabled="$ctrl.pendingAction"
                               my-on-error="$ctrl.onError(error)">
    </my-subscription-exclusion>

    <br>

    <my-button-group layout="row" layout-align="end center">
        <my-button
                my-type="primary"
                my-disabled="subscriptionForm.$invalid"
                my-on-click="$ctrl.onSave()"
                my-on-success="$ctrl.onSuccessSave(data)"
                my-on-error="$ctrl.onErrorSave(error)">Save
        </my-button>
        <my-button
                my-type="warn"
                my-confirm="true"
                my-on-click="$ctrl.onDelete()"
                my-on-success="$ctrl.onSuccessDelete()"
                my-on-error="$ctrl.onError(error)">Delete
        </my-button>
    </my-button-group>
</form>
