<form name="subscriptionForm" class="subscription-form" ng-if="$ctrl.subscription">
    <react-component name="SubscriptionTitleInput" key="title" props="$ctrl.titleProps"></react-component>

    <div class="subscription-form__origin">
        <react-component name="SubscriptionUrlInput" props="$ctrl.urlProps"></react-component>
        <a ng-href="{{$ctrl.subscription.origin}}" target="_blank" rel="noopener noreferrer">
            <react-component name="Icon" props="$ctrl.iconProps"></react-component>
        </a>
    </div>

    <my-autocomplete-input my-label="'Tag'"
                           my-disabled="$ctrl.pendingAction"
                           my-selected-item="$ctrl.subscription.feedTag.name"
                           my-values="$ctrl.tags"
                           my-on-select="$ctrl.onSelectTag(value)">
    </my-autocomplete-input>

    <h2 class="subscription-form__pattern-title">Patterns to ignore</h2>

    <my-subscription-exclusion my-id="$ctrl.subscription.uuid"
                               my-exclusions="$ctrl.exclusions"
                               my-disabled="$ctrl.pendingAction"
                               my-on-error="$ctrl.onError(error)">
    </my-subscription-exclusion>

    <br>

    <div class="subscription-form__buttons">
        <react-component name="Button" props="$ctrl.saveButtonProps"></react-component>
        <react-component name="ConfirmButton" props="$ctrl.deleteButtonProps"></react-component>
    </div>
</form>
