<form class="login">
    <my-input-container>
        <label for="email">Email</label>
        <input id="email"
               name="username"
               ng-model="$ctrl.loginForm.username"
               ng-disabled="$ctrl.actionPending">
    </my-input-container>

    <my-input-container>
        <label for="password">Password</label>
        <input id="password"
               type="password"
               name="password"
               ng-model="$ctrl.loginForm.password"
               ng-disabled="$ctrl.actionPending">
    </my-input-container>

    <div class="login__message">
        <span ng-if="$ctrl.loginError">Username or password wrong</span>
    </div>

    <my-button class="login__button"
               my-button-type="submit"
               my-on-click="$ctrl.onClick()"
               my-on-error="$ctrl.onError()">Login
    </my-button>
</form>
