<form class="login">
    <react-component name="LoginEmailInput" props="$ctrl.emailProps"></react-component>
    <react-component name="LoginPasswordInput" props="$ctrl.passwordProps"></react-component>

    <div class="login__message">
        <span ng-if="$ctrl.loginError">Username or password wrong</span>
    </div>

    <my-button class="login__button"
               my-button-type="submit"
               my-on-click="$ctrl.onClick()"
               my-on-error="$ctrl.onError()">Login
    </my-button>
</form>
