.my-login-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.my-login-page > .my-input {
    width: 300px;
}

.my-login-page__message {
    height: 30px;
}

.my-login-page__message > span {
    display: block;
    color: rgb(255, 87, 34);
    text-align: center;
}
