.my-list-page__action-panel {
    align-items: center;
    display: flex;
}

.my-list-page__search-action {
    flex-grow: 1;
    padding: 10px;
}

@media (min-width: 1280px) {
    .my-list-page__action-panel {
        position: fixed;
        width: calc(100% - 330px);
        z-index: 1030;
    }

    .my-list-page__list-panel {
        height: 100%;
        display: flex;
        overflow: hidden;
        padding: 0;
        width: 100%;
    }

    .my-list-page__list-content {
        overflow: auto;
        margin-top: 56px;
        width: 100%;
        height: calc(100vh - 56px);
    }
}

my-list-panel {
    display: flex;
    flex-direction: column;
}
