<div class="my-list-page__action-panel">
    <react-component class="my-list-page__search-action"
                     name="SearchInput"
                     props="$ctrl.searchInputProps">
    </react-component>

    <ng-transclude ng-transclude-slot="action-panel"></ng-transclude>

    <react-component name="IconButton" props="$ctrl.refreshProps"></react-component>
</div>

<div class="my-list-page__list-panel">
    <div class="my-list-page__list-content" ng-transclude="list-panel"></div>
</div>
