<div class="my-list-page__action-panel">
    <my-search-input class="my-list-page__search-action"
                     my-value="$ctrl.$stateParams['q']"
                     my-on-change="$ctrl.onSearchChange(value)">
    </my-search-input>

    <ng-transclude ng-transclude-slot="action-panel"></ng-transclude>

    <my-icon-button my-type="refresh"
                    ng-click="$ctrl.onRefresh()">
    </my-icon-button>
</div>

<div class="my-list-page__list-panel">
    <div class="my-list-page__list-content" ng-transclude="list-panel"></div>
</div>
