<h2 class="md-title">Fetch errors
    <my-icon class="fetch-errors-panel__pointer"
             my-type="expand-less"
             ng-click="$ctrl.close()"
             ng-if="$ctrl.showErrors">
    </my-icon>

    <my-icon class="fetch-errors-panel__pointer"
             my-type="expand-more"
             ng-click="$ctrl.open()"
             ng-if="!$ctrl.showErrors">
    </my-icon>
</h2>

<my-feed-fetch-error ng-if="$ctrl.firstOpen"
                     ng-show="$ctrl.showErrors"
                     my-id="$ctrl.myId"
                     my-on-error="$ctrl.myOnError({error: error})">
</my-feed-fetch-error>
