my-icon-button {
    background: transparent;
}

.my-icon-button {
    background-color: inherit;
    border-radius: 50%;
    border: 1px;
    cursor: pointer;
    height: 30px;
    margin: 10px;
    padding: 0;
    user-select: none;
    width: 30px;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1280px) {
    .my-icon-button {
        height: inherit;
        width: inherit;
    }
}
