/*
 * !important workaround https://github.com/casesandberg/react-color/pull/447
 */
.my-color-picker {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

@media (max-width: 1279px) {
    .my-color-picker {
        width: 280px !important;
    }

    .my-color-picker > span > div {
        height: 40px !important;
        width: 40px !important;
    }
}
