<md-list>
    <md-list-item ng-click="openOrigin(feed)" md-no-ink class="md-2-line" ng-repeat="feed in data.feeds">
        <div layout="row">
            <div class="md-list-item-text">
                <div>
                    <h3 tabindex="-1">{{::feed.title | htmlEntities}}</h3>
                    <h4>
                        {{::feed.createdAt | timeago}}
                    </h4>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
