<md-button class="md-icon-button" ng-hide="isInvisible('gt-md')" ng-click="openMenu()" aria-label="Menu">
    <md-icon md-font-library="material-icons">menu</md-icon>
</md-button>
<h2>
    <span></span>
</h2>
<span flex></span>


<md-button ng-hide="isInvisible()" class="md-icon-button" aria-label="Build search index" ng-click="broadcast('build-search-index')">
    <md-icon md-font-library="material-icons">build</md-icon>
</md-button>
<md-button ng-hide="isInvisible()" class="md-icon-button" aria-label="Refresh" ng-click="broadcast('refresh')">
    <md-icon md-font-library="material-icons">refresh</md-icon>
</md-button>
