<md-subheader class="md-no-sticky">Admin actions</md-subheader>

<md-list-item class="secondary-button-padding">
    <my-button-group>
        <my-button
                my-type="primary"
                my-text="Refresh index"
                my-on-click="onRefreshIndex()"
                my-on-success="onSuccessRefreshIndex()"
                my-on-error="onErrorRefreshIndex(error)">
        </my-button>
        <my-notification-panel layout="row" my-message="message"></my-notification-panel>
    </my-button-group>
</md-list-item>

<md-divider></md-divider>
<md-subheader class="md-no-sticky">About</md-subheader>

<md-list-item>
    <table>
        <tr>
            <td>Branch</td>
            <td>{{properties.git.branch}}</td>
        </tr>
        <tr>
            <td>Commit ID</td>
            <td>{{properties.git.commit.id}}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{properties.build.version}}</td>
        </tr>
        <tr>
            <td>Build Time</td>
            <td>{{properties.build.time}}</td>
        </tr>
    </table>
</md-list-item>
