<form name="feedForm">
    <md-input-container class="md-block">
        <label>Title</label>
        <input name="title"
               autocomplete="off"
               my-backend-validation my-validations="validations"
               ng-model="feed.title">

        <my-validation-message my-form-control="feedForm.title"></my-validation-message>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Url</label>
        <input name="url"
               autocomplete="off"
               ng-model="feed.url"
               my-backend-validation my-validations="validations">
        <md-icon md-font-library="material-icons" class="my-pointer" ng-if="feed.url" my-safe-opener url="{{feed.url}}">open_in_new</md-icon>

        <my-validation-message my-form-control="feedForm.url"></my-validation-message>
    </md-input-container>

    <br>

    <my-button-group layout="row" layout-align="end center">
        <my-button
                my-type="primary"
                my-text="Save"
                my-on-click="onSave()"
                my-on-success="onSuccessSave()"
                my-on-error="onError(error)">
        </my-button>
        <my-button
                my-type="warn"
                my-text="Delete"
                my-confirm="true"
                my-on-click="onDelete()"
                my-on-success="onSuccessDelete()"
                my-on-error="onError(error)">
        </my-button>
    </my-button-group>

    <my-notification-panel layout="row" layout-align="end center" my-message="message"></my-notification-panel>
</form>

<h2 ng-hide="feed.errors.length === 0">
    <span>Fetch errors in the last {{::feed.errors[0].retainDays}} day(s)</span>

    <md-icon md-font-library="material-icons" class="my-pointer" ng-click="refresh()">refresh</md-icon>
</h2>
<md-list>
    <md-list-item md-no-ink class="md-3-line" ng-repeat="error in errors">
        <div class="md-list-item-text">
            <div>
                <p>{{::error.message}}</p>
                <p>
                    {{::error.createdAt | timeago}}
                </p>
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
