<form name="feedForm">
    <md-input-container class="md-block">
        <label>Title</label>
        <input name="title"
               autocomplete="off"
               my-backend-validation my-validations="validations"
               ng-model="feed.title">

        <my-validation-message my-form-control="feedForm.title"></my-validation-message>
    </md-input-container>

    <md-input-container md-no-float class="md-icon-float md-icon-right md-block">
        <label>Url</label>
        <input name="url"
               autocomplete="off"
               ng-model="feed.url"
               my-backend-validation my-validations="validations">

        <my-icon class="my-feed-detail-url-icon"
                 my-type="open-in-new"
                 ng-if="feed.url"
                 my-safe-opener url="{{feed.url}}">
        </my-icon>

        <my-validation-message my-form-control="feedForm.url"></my-validation-message>
    </md-input-container>

    <br>

    <my-button-group layout="row" layout-align="end center">
        <my-button
                my-type="primary"
                my-text="Save"
                my-on-click="onSave()"
                my-on-success="onSuccessSave()"
                my-on-error="onError(error)">
        </my-button>
        <my-button
                my-type="warn"
                my-text="Delete"
                my-confirm="true"
                my-on-click="onDelete()"
                my-on-success="onSuccessDelete()"
                my-on-error="onError(error)">
        </my-button>
    </my-button-group>

    <my-notification-panel layout="row" layout-align="end center" my-message="message"></my-notification-panel>
</form>

<div>
    <my-feed-fetch-error-panel ng-if="feed" my-id="feed.uuid" my-on-error="onError(error)"></my-feed-fetch-error-panel>
</div>
