<md-button class="md-icon-button" ng-hide="isInvisible('gt-md')" aria-label="Back" ng-click="back()">
    <md-icon md-font-library="material-icons">arrow_back</md-icon>
</md-button>
<h2>
    <span></span>
</h2>
<span flex></span>

<md-button ng-hide="isInvisible()" class="md-icon-button" aria-label="Build search index" ng-click="broadcast('delete-feed')">
    <md-icon md-font-library="material-icons">delete</md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Open" ng-click="broadcast('open')">
    <md-icon md-font-library="material-icons">open_in_new</md-icon>
</md-button>
<md-button ng-hide="isInvisible()" class="md-icon-button" aria-label="Refresh" ng-click="broadcast('refresh')">
    <md-icon md-font-library="material-icons">refresh</md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Save" ng-click="broadcast('save')">
    <md-icon md-font-library="material-icons">save</md-icon>
</md-button>
