<div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar></md-toolbar>

    <div id="md-progress-linear-wrapper">
        <md-progress-linear loading-indicator md-mode="indeterminate"></md-progress-linear>
    </div>

    <md-content ui-view="content" md-scroll-y flex layout-padding>
        <div layout="row">
            <div flex></div>
            <div flex>
                <form name="loginForm" ng-submit="login()">
                    <div layout="row">
                        <md-input-container flex>
                            <label>Username</label>
                            <input required name="username" ng-model="form.username" my-disable-loading>
                            <div ng-messages="loginForm.username.$error">
                                <div ng-message="required">required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" required name="password" ng-model="form.password" my-disable-loading>
                            <div ng-messages="loginForm.password.$error">
                                <div ng-message="required">required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container>
                        <md-checkbox ng-model="form.rememberMe" aria-label="Remember me" my-disable-loading>
                            Remember me
                        </md-checkbox>
                    </md-input-container>

                    <div layout="row">
                        <div flex></div>
                        <div flex>
                            <md-button type="submit" my-disable-loading class="md-raised">login</md-button>
                        </div>
                        <div flex></div>
                    </div>
                </form>
            </div>
            <div flex></div>
    </md-content>
</div>
