<div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar></md-toolbar>

    <my-loading-indicator></my-loading-indicator>

    <md-content ui-view="content" md-scroll-y flex layout-padding>
        <my-notification-panel layout="row" layout-align="center center" my-message="message"></my-notification-panel>
        <div layout="row">
            <div flex></div>
            <div flex>
                <form name="loginForm" ng-submit="login()">
                    <div layout="row">
                        <md-input-container flex>
                            <label>Username</label>
                            <input required name="username" ng-model="form.username">
                            <div ng-messages="loginForm.username.$error">
                                <div ng-message="required">required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" required name="password" ng-model="form.password">
                            <div ng-messages="loginForm.password.$error">
                                <div ng-message="required">required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container>
                        <md-checkbox ng-model="form.rememberMe" aria-label="Remember me">
                            Remember me
                        </md-checkbox>
                    </md-input-container>

                    <div layout="row">
                        <div flex></div>
                        <div flex>
                            <md-button type="submit" class="md-raised">login</md-button>
                        </div>
                        <div flex></div>
                    </div>
                </form>
            </div>
            <div flex></div>
        </div>
    </md-content>
</div>
