<h3 hide-gt-md>
    <span>{{entry.title | htmlEntities}}</span>
    <md-icon md-font-library="material-icons" class="my-pointer" ng-if="entry.origin" my-safe-opener url="{{entry.origin}}">open_in_new</md-icon>
</h3>
<h3 hide show-gt-md><a ng-href="{{entry.origin}}" ng-click="open($event)">{{entry.title | htmlEntities}}</a></h3>

<div ng-bind-html="entry.content | targetBlank" my-wrap-entry-content></div>
<div flex="50">
    <h3>mark as read</h3>
    <md-radio-group ng-model="entry.seen" ng-change="save()">
        <md-radio-button ng-value="true">true</md-radio-button>
        <md-radio-button ng-value="false">false</md-radio-button>
    </md-radio-group>
</div>
<div flex="50">
    <h3>add a tag</h3>
    <my-entry-tags entry="entry"></my-entry-tags>
</div>
