<form name="subscriptionForm">
    <md-input-container ng-if="subscription.uuid" class="md-block">
        <label>Title</label>
        <input name="title"
               my-backend-validation my-validations="validations"
               ng-model="subscription.title">
        <my-validation-message my-form-control="subscriptionForm.title"></my-validation-message>
    </md-input-container>

    <md-input-container ng-hide="subscription.uuid" class="md-block">
        <label>Url</label>
        <input autocomplete="off"
               name="origin"
               ng-model="subscription.origin"
               my-backend-validation my-validations="validations"
               ng-if="!subscription.uuid">
            <my-validation-message my-form-control="subscriptionForm.origin"></my-validation-message>
        </div>

    </md-input-container>

    <md-input-container ng-if="subscription.uuid" md-no-float class="md-icon-float md-icon-right">
        <label>Url</label>
        <input ng-model="subscription.origin" disabled>
        <md-icon md-font-library="material-icons" class="my-pointer" ng-if="subscription.origin" my-safe-opener url="{{subscription.origin}}">open_in_new</md-icon>
    </md-input-container>

    <my-subscription-tag-panel
            ng-if="subscription.uuid"
            my-selected-item="subscription.tag"
            my-on-select="onSelectTag(value)"
            my-on-clear="onClearTag()">
    </my-subscription-tag-panel>

    <my-subscription-exclusion-panel ng-if="subscription.uuid"
                                     my-id="subscription.uuid"
                                     my-on-error="onError(error)">
    </my-subscription-exclusion-panel>

    <br>
    <my-button-group layout="row" layout-align="end center">
        <my-button
                my-type="primary"
                my-text="Save"
                my-disabled="subscriptionForm.$invalid"
                my-on-click="onSave()"
                my-on-success="onSuccessSave(data)"
                my-on-error="onErrorSave(error)">
        </my-button>
        <my-button
                my-type="warn"
                my-text="Delete"
                my-confirm="true"
                my-on-click="onDelete()"
                my-on-success="onSuccessDelete()"
                my-on-error="onError(error)"
                ng-if="subscription.uuid">
        </my-button>
    </my-button-group>
    <my-notification-panel layout="row" layout-align="end center" my-message="message"></my-notification-panel>
</form>
