<md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar></md-toolbar>

    <md-content flex role="navigation">
        <ul class="subscription-tag-menu">
            <li my-hide-admin class="md-2-line" ng-repeat="item in data.tags" class="parent-list-item" ng-class="{'parentActive' : isItemSelected(item)}" ng-show="visible(item)">
                <md-button md-no-ink class="md-button-toggle" ng-click="toggleOpen(item.links.entries.route, item.tag)">{{item | navigationItemTitle}}</md-button>
                <ul ng-show="isOpen(item)" class="menu-toggle-list">
                    <li ng-repeat="subscription in item.subscriptions" ng-hide="subscription.unseen < 1">
                        <md-button md-no-ink
                                   ng-class="{'active' : isSelected(subscription)}"
                                   ng-click="toggleOpen('app.entries', subscription.tag, subscription.uuid)">
                            {{::subscription.title}} ({{subscription.unseen}})
                        </md-button>
                    </li>
                </ul>
            </li>
            <li my-hide-admin class="md-2-line" ng-repeat="item in data.subscriptions" class="parent-list-item" ng-class="{'parentActive' : isItemSelected(item)}" ng-show="visible(item)">
                <md-button md-no-ink class="md-button-toggle" ng-click="toggleOpen(item.links.entries.route, item.tag, item.uuid)">{{item | navigationItemTitle}}</md-button>
            </li>
            <li my-hide-admin>
                <md-button ng-click="navigateTo('app.subscriptions')">subscriptions</md-button>
            </li>
            <li my-hide-admin>
                <md-button ng-click="navigateTo('app.bookmarks')">bookmarks</md-button>
            </li>
            <li my-hide-admin>
                <md-button ng-click="navigateTo('app.entries')">Stream</md-button>
            </li>
            <li my-show-admin>
                <md-button ng-click="navigateTo('app.admin')">Admin</md-button>
            </li>
            <li my-show-admin>
                <md-button ng-click="navigateTo('app.feed')">Feeds</md-button>
            </li>
            <li my-hide-admin>
                <md-button ng-click="navigateTo('app.settings')">Settings</md-button>
            </li>
            <li class="my-raised" my-hide-admin>
                <md-button ng-click="navigateTo('app.subscription-add')">Add subscription</md-button>
            </li>
            <li class="my-warn">
                <md-button ng-click="logout()">logout</md-button>
            </li>
            <my-notification-panel layout="row" my-message="message"></my-notification-panel>
        </ul>
    </md-content>
</md-sidenav>
<div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar hide-gt-md>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-md ng-click="openMenu()" aria-label="Menu">
                <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <my-loading-indicator></my-loading-indicator>

    <md-content class="my-content" ui-view="content" md-scroll-y flex layout-padding></md-content>
</div>
