<md-button class="md-icon-button" ng-hide="isInvisible('gt-md')" ng-click="openMenu()" aria-label="Menu">
    <md-icon md-font-library="material-icons">menu</md-icon>
</md-button>
<h2>
    <span></span>
</h2>

<md-input-container ng-show="isInvisible('gt-md')" class="md-icon-float">
    <md-icon md-font-library="material-icons">search</md-icon>
    <input class="my-input"
           ng-model="searchKey"
           aria-label="Subscription search"
           ng-keyup="onKey()"
           my-enter-key="broadcast('search', searchKey)"
           my-delete-key="broadcast('search', searchKey)">
</md-input-container>

<span flex></span>

<md-button ng-hide="isInvisible('gt-md')" tabindex="-1" class="md-icon-button" aria-label="subscription search" ng-click="openSearch()">
    <md-icon md-font-library="material-icons">search</md-icon>
</md-button>
<md-button hide show-gt-md class="md-icon-button" hide-gt-md aria-label="Upload" ng-click="broadcast('move-down')">
    <md-icon md-font-library="material-icons">keyboard_arrow_down</md-icon>
</md-button>
<md-button hide show-gt-md class="md-icon-button" hide-gt-md aria-label="Upload" ng-click="broadcast('move-up')">
    <md-icon md-font-library="material-icons">keyboard_arrow_up</md-icon>
</md-button>
<md-button ng-hide="isInvisible()" class="md-icon-button" aria-label="Refresh" ng-click="broadcast('refresh')">
    <md-icon md-font-library="material-icons">refresh</md-icon>
</md-button>
<md-button ng-hide="isInvisible('gt-md')" class="md-icon-button" hide-gt-md aria-label="Upload" ng-click="broadcast('update')">
    <md-icon md-font-library="material-icons">file_upload</md-icon>
</md-button>
