<form name="subscriptionForm">
    <md-input-container ng-show="subscription.uuid" class="md-block">
        <label>Title</label>
        <input name="title" ng-model="subscription.title">
    </md-input-container>

    <md-input-container ng-hide="subscription.uuid" class="md-block">
        <label>Url</label>
        <input required
               name="origin"
               ng-model="subscription.origin"
               disable="subscription.uuid"
               ng-model-options="{ debounce: 500 }"
               ng-disabled="subscriptionForm.origin.$pending">

        <div ng-messages="subscriptionForm.origin.$error">
            <div ng-message="required">required</div>
        </div>

    </md-input-container>

    <md-input-container ng-show="subscription.uuid" md-no-float class="md-icon-float md-icon-right">
        <label>Url</label>
        <input ng-model="subscription.origin" disabled>
        <md-icon md-font-library="material-icons" class="my-pointer" ng-if="subscription.origin" my-safe-opener url="{{subscription.origin}}">open_in_new</md-icon>
    </md-input-container>

    <my-autocomplete-input my-label="Tag"
                           my-show="subscription.uuid"
                           my-values="tags"
                           my-selected-item="subscription.tag"
                           my-on-select="onSelectTag(value)"
                           my-on-clear="onClearTag()">
    </my-autocomplete-input>

    <h2 class="md-title">Patterns to ignore</h2>
    <my-subscription-exclusion ng-show="subscription.uuid"
                               my-exclusions="exclusions"
                               my-on-add="onExclusionAdd(value)"
                               my-on-delete="onExclusionDelete(value)">
    </my-subscription-exclusion>

    <br>
    <my-button-group layout="row" layout-align="end center">
        <my-button
                my-type="primary"
                my-text="Save"
                my-disabled="subscriptionForm.$invalid"
                my-on-click="onSave()"
                my-on-success="onSuccessSave(data)"
                my-on-error="onErrorSave(error)">
        </my-button>
        <my-button
                my-type="warn"
                my-text="Delete"
                my-confirm="true"
                my-on-click="onDelete()"
                my-on-success="onSuccessDelete()"
                my-on-error="onError(error)"
                ng-show="subscription.uuid">
        </my-button>
    </my-button-group>
    <my-notification-panel layout="row" layout-align="end center" my-message="message"></my-notification-panel>
</form>
