<md-button class="md-icon-button" aria-label="Back" ng-click="back()">
    <md-icon md-font-library="material-icons">arrow_back</md-icon>
</md-button>
<h2>
    <span></span>
</h2>
<span flex></span>

<md-button class="md-icon-button" aria-label="Hide" ng-click="broadcast('hide')">
    <md-icon md-font-library="material-icons">visibility_off</md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Open" ng-click="broadcast('open')">
    <md-icon md-font-library="material-icons">open_in_new</md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Save" ng-click="broadcast('save')">
    <md-icon md-font-library="material-icons">save</md-icon>
</md-button>
