.my-feed-list {
    padding: 0 16px;
}

.my-feed-list__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    padding: 16px 0;
}

.my-feed-list__item-heading {
    color: #000000;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-feed-list__item > span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 1.6em;
    margin: 0;
}

.my-feed-list__item > span > svg {
    padding-right: 5px;
}
