<li class="my-navigation__item my-subscription-item"
    ng-click="$ctrl.onSelect($ctrl.item.tag, $ctrl.item.uuid)"
    ng-class="{'my-navigation__item--selected': $ctrl.isSelected($ctrl.item)}">

    <span>{{$ctrl.item.title}}</span>
    <div class="my-subscription-item__badge-container">
        <span class="my-subscription-item__badge">{{$ctrl.item.unseen}}</span>
    </div>
</li>

<ul ng-if="$ctrl.isVisible()">
    <li class="my-navigation__item my-navigation__item__sub"
        ng-repeat="subscription in $ctrl.item.subscriptions track by $ctrl.trackBy(subscription)"
        ng-click="$ctrl.onSelect(subscription.tag, subscription.uuid)"
        ng-class="{'my-navigation__item--selected': $ctrl.isSelected(subscription)}">

        <span>{{subscription.title}}</span>
        <div class="my-subscription-item__badge-container">
            <span class="my-subscription-item__badge">{{subscription.unseen}}</span>
        </div>
    </li>
</ul>
