.my-icon-button {
    background-color: transparent;
    border: 0;
    color: grey;
    cursor: pointer;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
}

.my-icon-button:disabled {
    cursor: default;
}

@media (min-width: 1280px) {
    .my-icon-button {
        height: inherit;
        width: inherit;
    }
}
