.hide {
    display: none !important;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin-left: 16px;
    padding: 0;
    margin-top: 3px;
    list-style-position: inside;
}
.subscription-tag-menu,.subscription-tag-menu ul {
    list-style: none;
    padding: 0;
}
.subscription-tag-menu li {
    margin: 0;
}
.md-whiteframe-glow-z2 {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 0 4px 3px rgba(0, 0, 0, 0.14), 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
}
.subscription-tag-menu > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.subscription-tag-menu > li:nth-child(-n+2) {
    border-top: none;
}
.subscription-tag-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}
.subscription-tag-menu button.md-button::-moz-focus-inner {
    padding: 0;
}
.subscription-tag-menu li.parentActive,.subscription-tag-menu li.parentActive .menu-toggle-list {
    background-color: #f6f6f6;
}
.subscription-tag-menu .menu-toggle-list a.md-button {
    display: block;
    font-weight: 400;
    padding: 0 16px 0 32px;
    text-transform: none;
}
/* remove dotted outline on buttons in firefox */
button::-moz-focus-inner {
    border: 0;
}
