.my-list-layout {
  display: flex;
  flex-direction: column;
}

.my-list-layout__list-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .my-list-layout__list-panel {
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  .my-list-layout__list-content {
    overflow: auto;
    width: 100%;
  }
}
