ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 16px;
    padding: 0;
    margin-top: 3px;
    list-style-position: inside;
}

.subscription-tag-menu, .subscription-tag-menu ul {
    list-style: none;
    padding: 0;
}

.subscription-tag-menu li {
    margin: 0;
}

.subscription-tag-menu > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.subscription-tag-menu > li:nth-child(-n+2) {
    border-top: none;
}

.subscription-tag-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

/* remove dotted outline on buttons in firefox */
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}

md-toolbar ~ md-content > my-list {
    padding: 0;
}

my-list {
    display: block;
}

my-select, my-card, my-list, my-toolbar, ul, ol, p, h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
}

my-list-item.my-2-line, my-list-item.my-2-line > .my-no-style, my-list-item.my-3-line, my-list-item.my-3-line > .my-no-style {
    align-items: flex-start;
}

my-list-item, my-list-item .my-list-item-inner {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    min-height: 48px;
}

.my-no-style {
    flex: 1 1 0;
    padding: 0 16px;
    position: relative;
}

my-list-item.my-2-line .my-list-item-text, my-list-item.my-2-line > .my-no-style .my-list-item-text {
    flex: 1 1 0;
    padding-top: 19px;
}

my-list-item.my-2-line .my-list-item-text, my-list-item.my-2-line > .my-no-style .my-list-item-text, my-list-item.my-3-line .my-list-item-text, my-list-item.my-3-line > .my-no-style .my-list-item-text {
    flex: 1 1 0;
    padding: 16px 0;
    text-overflow: ellipsis;
}

my-list.my-default-theme my-list-item.my-2-line .my-list-item-text h3, my-list.my-default-theme my-list-item.my-2-line .my-list-item-text h4, my-list.my-default-theme my-list-item.my-3-line .my-list-item-text h3, my-list.my-default-theme my-list-item.my-3-line .my-list-item-text h4 {
    color: rgba(0, 0, 0, 0.87);
}

my-list-item.my-2-line .my-list-item-text h3, my-list-item.my-2-line > .my-no-style .my-list-item-text h3, my-list-item.my-3-line .my-list-item-text h3, my-list-item.my-3-line > .my-no-style .my-list-item-text h3 {
    margin: 0 0 6px;
}

.my-subhead, my-list-item.my-2-line .my-list-item-text h3, my-list-item.my-2-line > .my-no-style .my-list-item-text h3, my-list-item.my-3-line .my-list-item-text h3, my-list-item.my-3-line > .my-no-style .my-list-item-text h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.my-body-2, my-list .my-subheader, my-list-item.my-2-line .my-list-item-text h4, my-list-item.my-2-line > .my-no-style .my-list-item-text h4, my-list-item.my-3-line .my-list-item-text h4, my-list-item.my-3-line > .my-no-style .my-list-item-text h4, my-list-item.my-2-line .my-list-item-text p, my-list-item.my-2-line > .my-no-style .my-list-item-text p, my-list-item.my-3-line .my-list-item-text p, my-list-item.my-3-line > .my-no-style .my-list-item-text p {
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 500;
    line-height: 24px;
}

my-list-item.my-2-line .my-list-item-text h4, my-list-item.my-2-line > .my-no-style .my-list-item-text h4, my-list-item.my-3-line .my-list-item-text h4, my-list-item.my-3-line > .my-no-style .my-list-item-text h4 {
    font-weight: 400;
    line-height: 1rem;
    margin: 10px 0 5px;
}

my-list.my-default-theme my-list-item.my-2-line .my-list-item-text p, my-list.my-default-theme my-list-item.my-3-line .my-list-item-text p {
    color: rgba(0, 0, 0, 0.54);
}

my-list-item.my-2-line .my-list-item-text p, my-list-item.my-2-line > .my-no-style .my-list-item-text p, my-list-item.my-3-line .my-list-item-text p, my-list-item.my-3-line > .my-no-style .my-list-item-text p {
    line-height: 1.6em;
    margin: 0;
}

my-list-item md-checkbox.my-secondary, my-list-item my-switch.my-secondary, my-list-item .my-list-item-inner md-checkbox.my-secondary, my-list-item .my-list-item-inner my-switch.my-secondary {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}

my-list-item > div.my-primary > md-checkbox, my-list-item > div.my-secondary > md-checkbox, my-list-item > md-checkbox:first-child, my-list-item md-checkbox.my-secondary, my-list-item .my-list-item-inner > div.my-primary > md-checkbox, my-list-item .my-list-item-inner > div.my-secondary > md-checkbox, my-list-item .my-list-item-inner > md-checkbox:first-child, my-list-item .my-list-item-inner md-checkbox.my-secondary {
    align-self: center;
}

my-divider.my-default-theme {
    border-top-color: rgba(0, 0, 0, 0.12);
}

my-list-item my-divider {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

my-divider {
    border-top: 1px solid;
    display: block;
    margin: 0;
}

my-list-item[ng-class="my-focused"] {
    background-color: rgba(158, 158, 158, 0.2);
}

.my-raised {
    background-color: rgb(63,81,181);
    color: rgb(255,255,255);
}

.my-warn {
    background-color: rgb(255,87,34);
    color: rgb(255,255,255);
}

.my-content {
    padding: 0;
    overflow: auto;
}

.search-panel {
    display: flex;
    flex-direction: column;
}

.search-input {
    flex-grow: 1;
}

@media (min-width: 1280px) {
    .search-panel {
        background: white;
        position: fixed;
        width: calc(100% - 330px);
        z-index: 1030;
    }

    .my-list-wrapper {
        height: 100%;
        display: flex;
        overflow: hidden;
        padding: 0;
        width: 100%;
    }

    .my-list {
        overflow: auto;
        margin-top: 56px;
        width: 100%
    }
}
