html,
body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
}

::-moz-focus-inner {
    border: 0;
}

/* remove dotted outline on buttons in firefox */
:focus {
    outline: none;
}

button,
select,
html,
textarea,
input {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

select,
button,
textarea,
input {
    font-size: 100%;
    vertical-align: baseline;
}

#root {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*
 Reference: https://tailwindcss.com/docs/spacing/
 */
.mt-4 {
    margin-top: 1rem;
}
