<ul class="my-navigation" ng-if="!$ctrl.isAdmin">
    <my-navigation-subscriptions-item></my-navigation-subscriptions-item>

    <li>
        <md-button md-no-ink ng-click="$ctrl.routeTo(['app', 'subscriptions'])">Subscriptions</md-button>
    </li>
    <li>
        <md-button md-no-ink ng-click="$ctrl.routeTo(['app', 'bookmarks'])">Bookmarks</md-button>
    </li>
    <li>
        <md-button md-no-ink ng-click="$ctrl.routeTo(['app', 'settings'])">Settings</md-button>
    </li>
    <li class="my-navigation__item--raised">
        <md-button md-no-ink ng-click="$ctrl.routeTo(['app', 'subscription-add'])">Add subscription</md-button>
    </li>
    <my-logout></my-logout>
</ul>

<ul class="my-navigation" ng-if="$ctrl.isAdmin">
    <li>
        <md-button md-no-ink ng-click="$ctrl.routeTo(['admin', 'overview'])">Admin</md-button>
    </li>
    <li>
        <md-button md-no-ink ng-click="$ctrl.routeTo(['admin', 'feed'])">Feeds</md-button>
    </li>
    <my-logout></my-logout>
</ul>
