<ul class="my-navigation" ng-if="!$ctrl.isAdmin">
    <my-navigation-subscriptions-item></my-navigation-subscriptions-item>

    <li class="my-navigation__item" ng-click="$ctrl.routeTo(['app', 'subscriptions'])">
        <span>Subscriptions</span>
    </li>
    <li class="my-navigation__item" ng-click="$ctrl.routeTo(['app', 'bookmarks'])">
        <span>Bookmarks</span>
    </li>
    <li class="my-navigation__item" ng-click="$ctrl.routeTo(['app', 'settings'])">
        <span>Settings</span>
    </li>
    <li class="my-navigation__item my-navigation__item--blue" ng-click="$ctrl.routeTo(['app', 'subscription-add'])">
        <span>Add subscription</span>
    </li>

    <li class="my-navigation__item my-navigation__item--red" ng-click="$ctrl.logout()">
        <span>Logout</span>
    </li>
</ul>

<ul class="my-navigation" ng-if="$ctrl.isAdmin">
    <li class="my-navigation__item" ng-click="$ctrl.routeTo(['admin', 'overview'])">
        <span>Admin</span>
    </li>
    <li class="my-navigation__item" ng-click="$ctrl.routeTo(['admin', 'feed'])">
        <span>Feeds</span>
    </li>

    <li class="my-navigation__item my-navigation__item--red" ng-click="$ctrl.logout()">
        <span>Logout</span>
    </li>
</ul>
