<h2 class="md-title">Patterns to ignore
    <my-icon my-type="expand-less"
             ng-click="$ctrl.close()"
             ng-if="$ctrl.showExclusions">
    </my-icon>

    <my-icon my-type="expand-more"
             ng-click="$ctrl.open()"
             ng-if="!$ctrl.showExclusions">
    </my-icon>
</h2>

<my-subscription-exclusion ng-if="$ctrl.firstOpen"
                           ng-show="$ctrl.showExclusions"
                           my-id="$ctrl.myId"
                           my-disabled="$ctrl.myDisabled"
                           my-on-error="$ctrl.myOnError({error: error})">
</my-subscription-exclusion>
