<button class="my-button"
        type="{{$ctrl.myButtonType}}"
        ng-class="$ctrl.myType ? 'my-' + $ctrl.myType : ''"
        ng-if="!$ctrl.showConfirmButton"
        ng-click="$ctrl.onClick()"
        ng-disabled="$ctrl.isDisabled()">
    <ng-transclude></ng-transclude>
</button>

<button class="my-button my-button--confirm-left"
        ng-class="$ctrl.myType ? 'my-' + $ctrl.myType : ''"
        ng-if="$ctrl.showConfirmButton"
        ng-click="$ctrl.processOnClick()"
        ng-disabled="$ctrl.isDisabled()">Yes</button>

<button class="my-button my-primary my-button--confirm-right"
        ng-if="$ctrl.showConfirmButton"
        ng-click="$ctrl.reset()"
        ng-disabled="$ctrl.isDisabled()">No</button>
