.my-entry-content {
    margin-top: 15px;
}

.my-entry-content img {
    max-width: 100%;
}

.my-entry-content pre {
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #ebece4;
}

.my-entry-content table {
    width: 100%;
    table-layout: fixed;
    word-break: break-word;
}
