<div class="app">
    <header class="app__header">
        <my-icon-button my-type="menu"
                        my-color="white"
                        ng-if="!$ctrl.isDesktop"
                        ng-click="$ctrl.toggleSidenav()">
        </my-icon-button>
    </header>

    <nav class="app__nav" ng-class="{'app__nav--open': $ctrl.sidenavSlideIn, 'app__nav--animate': !$ctrl.isDesktop}">
        <my-navigation ng-click="$ctrl.toggleSidenav()"></my-navigation>
    </nav>

    <main class="app__main" ui-view="content"></main>
</div>

<my-toast></my-toast>
<my-backdrop></my-backdrop>
