<md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$ctrl.isDesktop">
    <md-toolbar></md-toolbar>

    <md-content flex>
        <ul class="subscription-tag-menu" ng-if="!$ctrl.isAdmin">
            <my-navigation-subscriptions-item my-on-select="$ctrl.closeSidenav()"></my-navigation-subscriptions-item>

            <li>
                <md-button ng-click="$ctrl.navigateTo('app.subscriptions')">subscriptions</md-button>
            </li>
            <li>
                <md-button ng-click="$ctrl.navigateTo('app.bookmarks')">bookmarks</md-button>
            </li>
            <li>
                <md-button ng-click="$ctrl.navigateTo('app.settings')">Settings</md-button>
            </li>
            <li class="my-raised">
                <md-button ng-click="$ctrl.navigateTo('app.subscription-add')">Add subscription</md-button>
            </li>
            <my-logout></my-logout>
        </ul>

        <ul class="subscription-tag-menu" ng-if="$ctrl.isAdmin">
            <li>
                <md-button ng-click="$ctrl.navigateTo('app.overview')">Admin</md-button>
            </li>
            <li>
                <md-button ng-click="$ctrl.navigateTo('app.feed')">Feeds</md-button>
            </li>
            <my-logout></my-logout>
        </ul>
    </md-content>
</md-sidenav>
<div layout="column" flex>
    <md-toolbar hide-gt-md>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-md ng-click="$ctrl.openMenu()">
                <my-icon my-type="menu"
                         my-color="white">
                </my-icon>
            </md-button>
        </div>
    </md-toolbar>

    <my-toast></my-toast>
    <md-content ui-view="content"></md-content>
</div>
