my-app {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.app {
    display: grid;
    width: 100%;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 64px;
    grid-template-areas:
        "header main"
        "nav    main";
}

.app > react-component {
    display: contents;
}

@media (max-width: 1279px) {
    .app {
        grid-template-areas:
            "header header"
            "nav    main";
        grid-template-columns: 0 1fr;
    }
}

.app__main {
    grid-area: main;
    min-height: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
