.my-login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.my-login-form > .my-input {
    width: 300px;
}

.my-login-form__message {
    height: 30px;
}

.my-login-form__message > span {
    display: block;
    color: rgb(255, 87, 34);
    text-align: center;
}
