.my-search-input-container {
    margin: 0;
    padding-left: 36px;
}

.my-search-input-container__search-icon {
    position: absolute;
    top: 8px;
    left: 2px;
    right: auto;
    width: 24px;
}
