<my-input-container class="my-autocomplete__input">
    <label ng-if="$ctrl.myLabel">{{$ctrl.myLabel}}</label>
    <input type="text"
           autocomplete="off"
           ng-disabled="$ctrl.myDisabled"
           ng-model="$ctrl.mySelectedItem"
           ng-model-options="{debounce: 100}"
           ng-focus="$ctrl.onFocus()"
           ng-change="$ctrl.onChange($event)"
           ng-blur="$ctrl.onBlur()">

    <my-autocomplete-suggestions
            my-values="$ctrl.myValues"
            my-current-term="$ctrl.mySelectedItem"
            my-on-select="$ctrl.onSelectSuggestion(term)"
            ng-if="$ctrl.showSuggestions">
    </my-autocomplete-suggestions>
</my-input-container>
