<my-list-page my-on-search="$ctrl.navigateTo(params)"
              my-on-refresh="$ctrl.refresh()">
    <my-action-panel ng-if="$ctrl.isDesktop">
        <my-icon-button my-type="navigate-before"
                        ng-click="$ctrl.previousEntry()">
        </my-icon-button>
        <my-icon-button my-type="navigate-next"
                        ng-click="$ctrl.nextEntry()">
        </my-icon-button>
    </my-action-panel>
    <my-list-panel>
        <my-hotkeys my-bind-to="$ctrl" my-hotkeys="{'down': $ctrl.nextEntry, 'up': $ctrl.previousEntry, 'enter': $ctrl.toggleEntryReadFlag}">
            <my-entry-list></my-entry-list>
        </my-hotkeys>
    </my-list-panel>
</my-list-page>
