<my-list-page my-on-search="$ctrl.navigateTo(params)"
              my-on-refresh="$ctrl.refresh()">
    <my-action-panel ng-if="$ctrl.isDesktop">
        <react-component name="IconButton" props="$ctrl.previousButton"></react-component>
        <react-component name="IconButton" props="$ctrl.nextButton"></react-component>
    </my-action-panel>
    <my-list-panel>
        <my-hotkeys my-bind-to="$ctrl" my-hotkeys="{'down': $ctrl.nextEntry, 'up': $ctrl.previousEntry, 'enter': $ctrl.toggleEntryReadFlag}">
            <react-component name="ContainerComponentBridge" props="$ctrl.entryListContainerProps"></react-component>
        </my-hotkeys>
    </my-list-panel>
</my-list-page>
