<my-list-page my-on-search="$ctrl.navigateTo(params)"
              my-on-refresh="$ctrl.refresh()">
    <my-action-panel>
        <md-button
                hide
                show-gt-md
                class="md-icon-button"
                ng-click="$ctrl.previousEntry()">
            <my-icon my-type="navigate-before"></my-icon>
        </md-button>
        <md-button
                hide
                show-gt-md
                class="md-icon-button"
                ng-click="$ctrl.nextEntry()">
            <my-icon my-type="navigate-next"></my-icon>
        </md-button>
    </my-action-panel>
    <my-list-panel>
        <my-hotkeys my-bind-to="$ctrl" my-hotkeys="{'down': $ctrl.nextEntry, 'up': $ctrl.previousEntry, 'enter': $ctrl.toggleEntryReadFlag}">
            <my-entry-list></my-entry-list>
        </my-hotkeys>
    </my-list-panel>
</my-list-page>
