body {
    padding-top:40px;
}
#alerts {
    position: fixed;
    top: 0px;
    z-index: 1031;
    right: 0;
    left: 0;
}
.alert {
    margin-bottom: 0px !important;
}
.container {
    width: 260px !important;
}
.form-horizontal .control-label {
    width: 0px !important;
}
.form-horizontal .controls {
    margin-left: 80px !important;
}
