body {
				overflow-y: scroll;
				padding-top : 60px;							
			}
			a:focus {
				 outline: none;
			}
			#subscription-table a {
				color: #404040 !important;
				text-decoration: none;
			}
			.icon-edit {
				cursor: pointer;
			}	
			.hidden {
				display: none !important;
			}
			#alerts {
				position: fixed;
				top: 0px;
				z-index: 1031;
				right: 0;
				left: 0;
			}
			.alert {
				margin-bottom: 0px !important;
			}		
			.reader-active {
				-moz-box-shadow: 0 0 4px #000;
				-webkit-box-shadow: 0 0 4px #000;
				box-shadow: 0 0 4px #000;				
			}			
			.table th, .table td {
				padding: 5px 0 0 0;
				border-bottom: 1px solid #DDDDDD;
			}
			.entry-bar {
				background: #F4F4F4;
				font-size: 0.8em;
			}
			.reader-unseen-flag {				
				width: 60px;
				float: left;
			}
			.entry-content {			
				overflow-x: auto;
			}
			.entry-content > div {
				padding-bottom: 10px;
			}
			#subscription-table {
				table-layout: fixed;
			}
			#subscription-table > tbody > tr > td > * {
				padding-left: 10px;
				padding-right: 10px;
			}
			
			@media (max-width: 767px) {
				.visible-desktop {
					display: none !important;
				}
				#dropdown-reader {
					width: auto;
				}
			}
			
			.subscription-tabs .icon-chevron-right, .icon-chevron-down {
				cursor: pointer !important;
			}
			
			.leaf > a {  padding-left: 30px !important;}			
			.icon-chevron-right, .icon-chevron-down {  float: right !important;}			

			[class*="span"] {
			    min-height: 1px;
			}
			
						.btn {
    			border-radius: 0px !important;
    		}
    		a.btn {
    			padding: 2px 14px !important;
    		} 
    		
    		select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    			border-radius: 0px !important;
			} 
			
			.subscription-tabs > li > a {
    			line-height: 15px !important;
			}			
			.nav-tabs.nav-stacked > li > a {
			    border: 1px solid #FFFFFF;
			    border-radius: 0 0 0 0;
			}	
			.nav-tabs.nav-stacked > li > a:hover {
			    border-color: #FFFFFF;
			    z-index: 2;
			}
			.nav-tabs.nav-stacked > li:first-child > a {
			    border-top-left-radius: 0px;
			    border-top-right-radius: 0px;
			}
			.nav-tabs.nav-stacked > li > a {
			    border: 1px solid #FFFFFF;
			    border-radius: 0 0 0 0;
			}
			.input-append .add-on:last-child, .input-append .btn:last-child {
    			border-radius: 0px;
			}