<label for="pageSize">Page size</label>
<my-choose id="pageSize"
            my-value="$ctrl.pageSize"
            my-options="[10, 20, 30]"
            my-on-choose="$ctrl.onPageSizeChoose(option)">
</my-choose>

<div layout="row">
    <md-input-container>
        <md-checkbox ng-model="$ctrl.showUnseenEntries" ng-change="$ctrl.save()">Hide old entries</md-checkbox>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container>
        <md-checkbox ng-model="$ctrl.showEntryDetails" ng-change="$ctrl.save()">Show entry content</md-checkbox>
    </md-input-container>
</div>
