<label for="pageSize">Page size</label>
<my-choose id="pageSize"
            my-value="$ctrl.pageSize"
            my-options="[10, 20, 30]"
            my-on-choose="$ctrl.onPageSizeChoose(option)">
</my-choose>

<label for="unseenEntries">Old entries</label>
<my-choose id="unseenEntries"
           my-value="$ctrl.showUnseenEntries"
           my-options="[{label: 'show', value: true}, {label: 'hide', value: false}]"
           my-on-choose="$ctrl.onShowUnseenEntriesChoose(option)">
</my-choose>

<label for="entryDetails">Entry content</label>
<my-choose id="entryDetails"
           my-value="$ctrl.showEntryDetails"
           my-options="[{label: 'show', value: true}, {label: 'hide', value: false}]"
           my-on-choose="$ctrl.onShowEntryDetailsChoose(option)">
</my-choose>

