<h4 ng-if="$ctrl.applicationInfo.branch">Application info</h4>

<table ng-if="$ctrl.applicationInfo.branch">
    <tr>
        <td>Branch</td>
        <td>{{$ctrl.applicationInfo.branch}}</td>
    </tr>
    <tr>
        <td>Commit ID</td>
        <td>{{$ctrl.applicationInfo.commitId}}</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>{{$ctrl.applicationInfo.version}}</td>
    </tr>
    <tr>
        <td>Build Time</td>
        <td>
            <react-component name="TimeAgo" props="$ctrl.buildTimeProp"></react-component>
        </td>
    </tr>
</table>
