.my-input {
    margin: 8px 0;
}

.my-input.my-input--error {
    --error-color: rgb(221, 44, 0);
}

.my-input > label {
    color: rgba(0, 0, 0, 0.54);
    flex-grow: 1;
    font-size: 13px;
    padding-left: 3px;
}

.my-input > input {
    background: none;
    border-radius: 0;
    border: 0 solid rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    box-sizing: border-box;
    display: block;
    height: 30px;
    line-height: 26px;
    padding: 2px 2px 1px;
    width: 100%;
}

.my-input > input:disabled {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
}

.my-input > input:focus {
    border-bottom-width: 2px;
    border-color: rgb(63, 81, 181);
}

.my-input.my-input--error > label,
.my-input.my-input--error > input,
.my-input.my-input--error > input:focus {
    color: var(--error-color);
    border-bottom-width: 2px;
    border-color: var(--error-color);
}

.my-input.my-input--error > .my-input__validations {
    color: var(--error-color);
    font-size: 12px;
}

.my-input.my-input--error > .my-input__validations > span {
    display: block;
    padding-top: 5px;
}

@media (prefers-color-scheme: dark) {
  .my-input > label,
  .my-input > input:disabled,
  .my-input > input:disabled {
    color: rgba(215, 203, 203, 0.54);
    border-color: rgba(215, 203, 203, 0.54);
  }

  .my-input > input {
    border-color: rgb(217, 217, 217);
  }

  .my-input > input:focus {
    border-color: rgb(217, 217, 217);
  }

  .my-input.my-input--error > .my-input__validations > span {
    color: var(--error-color);
  }
}
