.my-navigation-item {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    max-height: 40px;
    overflow: hidden;
    text-decoration: none;
    white-space: normal;
    letter-spacing: 0.01em;
    margin: 0;
    user-select: none;
    text-transform: uppercase;
}

.my-navigation-item:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.my-navigation-item--selected {
    background-color: #e5e5e5;
}

.my-navigation-item > span {
    flex-grow: 1;
    padding: 0 6px;
}
