.my-entry-list {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.my-entry-list__item {
  margin: 0 -16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
  .my-entry-list__item {
    border-bottom: 1px solid rgb(186, 186, 185);
  }
}
