.my-feed-edit-form {
    padding: 10px;
}

.my-feed-edit-form__origin {
    display: flex;
    align-items: center;
}

.my-feed-edit-form__origin > .my-input {
    flex-grow: 1;
}

.my-feed-edit-form__origin > a {
    color: grey;
}
