.my-entry {
    padding: 16px 0;
}

.my-entry__header {
    display: flex;
}

.my-entry__header > .my-entry__title {
    flex-grow: 1;
}

.my-entry__header > .my-entry__actions {
    flex-shrink: 0;
}
