/* host */  my-entry {
    width: 100%;
}

.my-entry {
    flex: 1 1 0;
    padding: 16px 0;
    text-overflow: ellipsis;
}

.my-entry__entry-tags {
    margin: 0 1rem 1rem;
    width: 100%;
}

.my-entry__entry-content {
    margin: 0.5rem 1rem 0;
}
