<div class="my-entry__header">
    <my-entry-title my-item="$ctrl.item"></my-entry-title>

    <my-entry-actions my-item="$ctrl.item"
                      my-on-more="$ctrl.toggleMore(showMore)"
                      my-on-check="$ctrl.onCheck(item)">
    </my-entry-actions>
</div>

<my-entry-tags my-item="$ctrl.item"
               my-show="$ctrl.showMore"
               my-on-change="$ctrl.onTagUpdate(tag)">
</my-entry-tags>

<my-entry-content my-item="$ctrl.item"
                  my-show="$ctrl.showMore">
</my-entry-content>
