<div class="my-entry__header">
    <react-component name="EntryTitle" props="$ctrl.item"></react-component>

    <my-entry-actions my-item="$ctrl.item"
                      my-on-more="$ctrl.toggleMore(showMore)"
                      my-on-check="$ctrl.onCheck(item)">
    </my-entry-actions>
</div>

<my-entry-tags my-item="$ctrl.item"
               my-show="$ctrl.showMore"
               my-on-change="$ctrl.onTagUpdate(tag)">
</my-entry-tags>

<react-component ng-if="$ctrl.showEntryContent()"
                 name="EntryContent"
                 props="$ctrl.item">
</react-component>
