my-entry {
    width: 100%;
    padding: 16px 0;
}

.my-entry__header {
    display: flex;
}

.my-entry__header > :first-child {
    flex-grow: 1;
}

.my-entry__header > :last-child {
    flex-shrink: 0;
}
