.subscription-tags {
    padding: 0;
    width: 200px;
}

.subscription-tags__item {
    align-items: center;
    display: flex;
    height: 25px;
    list-style-type: none;
}

.subscription-tags__tag {
    flex-grow: 1;
}

.subscription-tags__color {
    display: inline-block;
    height: 20px;
    width: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
}
