<li class="my-subscription-item"
    ng-class="{'my-subscription-item--selected': $ctrl.isSelected($ctrl.item)}">
    <md-button md-no-ink
               ng-click="$ctrl.onSelect($ctrl.item.tag, $ctrl.item.uuid)">
        <div class="my-subscription-item__title-container">
            <div class="my-subscription-item__title">{{$ctrl.item.title}}</div>
            <div>
                <span class="my-subscription-item__badge">{{$ctrl.item.unseen}}</span>
            </div>
        </div>
    </md-button>
</li>

<ul ng-if="$ctrl.isVisible()">
    <li ng-repeat="subscription in $ctrl.item.subscriptions track by $ctrl.trackBy(subscription)"
        ng-class="{'my-subscription-item--selected': $ctrl.isSelected(subscription)}">

        <md-button md-no-ink
                   ng-click="$ctrl.onSelect(subscription.tag, subscription.uuid)">
            <div class="my-subscription-item__title-container">
                <div class="my-subscription-item__subscription-title">{{subscription.title}}</div>
                <div>
                    <span class="my-subscription-item__badge">{{subscription.unseen}}</span>
                </div>
            </div>
        </md-button>
    </li>
</ul>
