.my-subscription-item {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.my-subscription-item--selected {
    background-color: #e5e5e5;
}

.my-subscription-item__title-container {
    display: flex;
    flex-direction: row;
}

.my-subscription-item__title {
    flex-grow: 1;
}

.my-subscription-item__subscription-title {
    flex-grow: 1;
    padding: 0 16px 0 16px;
    text-transform: none;
}

.my-subscription-item__badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
