<li ng-class="{'my-navigation-dynamic__item': $ctrl.isSelected($ctrl.item)}"
    ng-hide="$ctrl.isInvisible($ctrl.item)">

    <md-button md-no-ink ng-click="$ctrl.onSelect($ctrl.item.tag, $ctrl.item.uuid)">
        <div class="my-navigation-dynamic__item-title-container">
            <div class="my-navigation-dynamic__item-tag">{{$ctrl.item.title}}</div>
            <div ng-if="$ctrl.item.unseen">
                <span class="my-navigation-dynamic__item-badge">{{$ctrl.item.unseen}}</span>
            </div>
        </div>
    </md-button>
</li>

<ul class="my-navigation-dynamic__sub-menu" ng-show="$ctrl.isOpen()">
    <li ng-repeat="subscription in $ctrl.item.subscriptions"
        ng-hide="$ctrl.isInvisible(subscription)"
        ng-class="{'my-navigation-dynamic__item': $ctrl.isSelected(subscription)}">

        <md-button  md-no-ink ng-click="$ctrl.onSelect(subscription.tag, subscription.uuid)">
            <div class="my-navigation-dynamic__item-title-container">
                <div class="my-navigation-dynamic__item-subscription">{{subscription.title}}</div>
                <div  ng-if="subscription.unseen">
                    <span class="my-navigation-dynamic__item-badge">{{subscription.unseen}}</span>
                </div>
            </div>
        </md-button>
    </li>
</ul>
