<li ng-class="{'my-navigation-dynamic__item': $ctrl.isSelected($ctrl.item)}"
    ng-hide="$ctrl.isInvisible($ctrl.item)">

    <md-button md-no-ink ng-click="$ctrl.onSelect($ctrl.item.tag, $ctrl.item.uuid)">{{$ctrl.item | myNavigationItemTitle}}</md-button>
</li>

<ul class="my-navigation-dynamic__sub-menu" ng-show="$ctrl.isOpen()">
    <li ng-repeat="subscription in $ctrl.item.subscriptions"
        ng-hide="$ctrl.isInvisible(subscription)"
        ng-class="{'my-navigation-dynamic__item': $ctrl.isSelected(subscription)}">

        <md-button md-no-ink ng-click="$ctrl.onSelect(subscription.tag, subscription.uuid)">{{subscription | myNavigationItemTitle}}</md-button>
    </li>
</ul>
